.clearfix::after{
    clear: both;
    content: "";
    display: block;
}


body {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}


header {
    background: #ebebeb; 
    padding: 15px;  
    margin: 10px ; 
    width: 960px;

}


#nav{
    background: #ebebeb; 
    padding: 15px;   
    margin: 10px ;
    width: 960px;

}


#section{
    /* background: #ebebeb;     */
    background: blue;
    width: 475px;
    padding: 10px;
    margin: 10px ;
    float: left;
}


#article{
    color: #ebebeb;
    background: red;
    margin: 0 15px;
    float: left;
    width: 445px;
}

.innertext{
    margin: 10px;
    background: magenta;
    padding: 10px
}

#h1{
    color: #ebebeb;
    /* background: #777; */
    background: purple;
    width: 380px;
    padding: 20px;
    margin: 10px 10px 10px 12px;
    float: left;
}


aside {
    background: #ebebeb;    
    width: 470px;
    padding-bottom: 249px;
    margin: 10px 10px 20px 10px ;
    float: right;
}


footer{
    background: #ebebeb;   
    width: 960px;
    padding: 15px; 
    margin: 40px 10px 0px 10px;
    /* float: none; */
    clear: both;
}

#middle{
    width: 1010px;
}
